.section {
	position: sticky;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
  min-height: 100vh;
	top: 0;
	background-color: rgb(200, 200, 200);

	&:nth-child(1) {
		.content {
			padding-top: 1.4rem;
		}
	}
	
	&:not(:first-child) {
		top: 10vh;
		min-height: 90vh;
		margin-top: -10vh;
		margin-left: calc(50px);
		margin-right: calc(50px);
		border-radius: 100px 100px 0 0;
	}
}

@for $i from 1 to 4 {
	.section:nth-child(#{$i}) {
		background-color: rgb(200 + 10 * -$i, 200 + 10 * -$i, 200 + 10 * -$i);
	}
}