@import './base/fonts';
@import './base/typography.scss';
@import './sections.scss';

* {
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 2rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1rem;
}

.content {
	grid-column: span 5;
}