@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/SpaceGrotesk-Light.otf") format("opentype"),
    url("../assets/SpaceGrotesk-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/SpaceGrotesk-Regular.otf") format("opentype"),
    url("../assets/SpaceGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/SpaceGrotesk-Medium.otf") format("opentype"),
    url("../assets/SpaceGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/SpaceGrotesk-Bold.otf") format("opentype"),
    url("../assets/SpaceGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}